body {
	-webkit-text-size-adjust: none;
}

@media (min-width:980px) {
	body { 
		padding-top: 30px; 
	}
}

.btn {
	vertical-align: middle; /* ensure buttons line up even when they are different tag types [a, button] */
}

/* index page */

@media (max-width: 768px) {
	/* prevent the brand name wrapping or overlapping the menu toggle */
	.navbar .brand {
		max-width: 75%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	
	.hero-unit {
		padding: 20px;
	}

	#application-status {
		display: none;
	}
}

/* list pages */

table td.link {
	white-space: nowrap;
}

table thead th {
	white-space: nowrap;
}

/* icons for sorted column headers */

table th.asc a:after,
table th.desc a:after {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-left: 0.3em;
	vertical-align: text-top;
	background-image: url(../plugins/twitter-bootstrap-2.3.0/img/glyphicons-halflings.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

table th.asc a:after {
	background-position: -289px -96px;
}

table th.desc a:after {
	background-position: -312px -96px;
}

/* optimized display for small devices */

@media (max-width:480px) {
	table thead, table td { 
		display: none;
	}
	
	table tr:first-child td {
		border-top: none;
	}
	
	table td:first-child, table td:last-child {
		display: table-cell;
		vertical-align: middle;
	}
	
	table td:last-child {
		text-align: right;
	}
}

/* error page */

pre.snippet code.line {
	border: none;
	display: block;
}

pre.snippet .lineNumber {
	display: inline-block;
	width: 3em;
}

pre.snippet .error {
	font-weight: bold;
}
