<hr />
<div class="row">
	<div class="span2 pull-right">
		<g:render template="/shared/social/vk"/>
	</div>
	<div class="span2 pull-right">
		<g:render template="/shared/social/facebook"/>
	</div>
</div>
